<div class="content-box">
    <h2>Create a New Listing</h2>
    <form (ngSubmit)="onButtonClicked()">
        <div>
            <label for="name">
                Name:
            </label>
            <input id="name" name="name" text="text" [(ngModel)]="name"/>
        </div>
        <div>
            <label for="description">
               Item Description:
            </label>
            <input id="description" name="description" text="text" [(ngModel)]="description"/>
        </div>
        <div>
            <label for="price">
                Price:
            </label>
            <input id="price" name="price" text="text" [(ngModel)]="price"/>
            <button type="submit">{{buttonText}}</button>
        </div>
    </form>
</div>